NEXT_PUBLIC_SUPABASE_URL=https://hbizjwdefdgvwkgvabry.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiaXpqd2RlZmRndndrZ3ZhYnJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1MTA0MDAsImV4cCI6MjA4OTA4NjQwMH0.CixEOi8g5fD_7v73OYzSAPXfiHNTS8vLOMLY727unTs
SUPABASE_SERVICE_ROLE_KEY=your_service_key
DATABASE_URL=postgresql://...

# App
NEXTAUTH_SECRET=your_secret
NEXTAUTH_URL=http://localhost:3000
